 <div class="row">
  <div class="col-sm-6 offset-sm-3">
  <%= form_for message, :url => {:action => :create} do |f| %>
  <%= f.text_area :content, class: 'form-control'%>
  <%= f.submit '送信' %>
  <% end %>
  </div>
 </div>