<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">
        <div class="media-body">
          <div>
            <% if user.icon? %>
            <img src=<%= user.icon %> class = "post_icon_image" >
            <% end %>
            <%= user.name %>
          </div>
          <div>
            <p><%= link_to '詳細ページへ', user_path(user) %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>