@charset "UTF-8";

.icon_button {
     text-align:center;
     padding-bottom: 10px;
}

.card-title {
    text-align:center;
}

.icon_image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  
}

.icon {
     padding-top: 10px;
     text-align:center;
}

.card-body {
     text-align:center;
}

.fa-envelope {
  font-size: 25px;
  color: #808080;
}