<h2>相居飛車</h2>
<div class="row">
  <% @categories.each do |category| %>
    <% if category.id <= 5 %>
      <p>
        <%= link_to image_tag("#{category.id}.png", class: "category_img", alt: "#{category.content}"), category %>
      </p>
    <% end %>
  <% end %>
</div>

<br>

<h2>対抗系</h2>
<div class="row">
  <% @categories.each do |category| %>
    <% if category.id >= 6 && category.id <=10 %>
      <p>
        <%= link_to image_tag("#{category.id}.png", class: "category_img",  alt: "#{category.content}"), category %>
      </p>
    <% end %>
  <% end %>
</div>

<br>

<h2>相振り飛車・その他</h2>
<div class="row">
  <% @categories.each do |category| %>
    <% if category.id >= 11 %>
      <p>
        <%= link_to image_tag("#{category.id}.png", class: "category_img",  alt: "#{category.content}"), category %>
      </p>
    <% end %>
  <% end %>
</div>  